* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #222;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  overflow: hidden;
}

#app {
  transition: all .3s;
  opacity: 0;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #222;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
}